astroid
attrs
certifi
charset-normalizer
colorama
dill
distlib
Django
django-ckeditor
django-js-asset
filelock
frozenlist
geoip2
idna
isort
maxminddb
mccabe
multidict
packaging
pillow
pipenv
platformdirs
pylint
pylint-celery
pylint-django
pylint-plugin-utils
python-dotenv
requests
setuptools
sqlparse
tomlkit
tzdata
urllib3
virtualenv
yarl
