asgiref==3.8.1
astroid==3.3.9
attrs==25.3.0
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
dill==0.3.9
distlib==0.3.9
Django==5.1.7
django-ckeditor==6.7.2
django-js-asset==3.1.2
filelock==3.18.0
frozenlist==1.5.0
geoip2==5.0.1
idna==3.10
isort==6.0.1
maxminddb==2.6.3
mccabe==0.7.0
multidict==6.2.0
packaging==24.2
pillow==11.1.0
pipenv==2024.4.1
platformdirs==4.3.7
propcache==0.3.0
pylint==3.3.6
pylint-celery==0.3
pylint-django==2.6.1
pylint-plugin-utils==0.8.2
python-dotenv==1.0.1
requests==2.32.3
setuptools==77.0.1
sqlparse==0.5.3
tomlkit==0.13.2
tzdata==2025.1
urllib3==2.3.0
virtualenv==20.29.3
yarl==1.18.3
