{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contacto.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto
<span class="subheading">Asesoría</span>{% endblock %}
</h1>
{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Cuando eliges trabajar conmigo, obtienes acceso a un colaborador preparado en diversas tecnologías, con experiencia en programación y soporte en inteligencia artificial. Algunos de los beneficios de trabajar conmigo incluyen:</p>
        <ul>
          <li>Soluciones personalizadas que se adaptan a tus necesidades y objetivos específicos.</li>
          <li>Imágenes generadas con IA que agregan un toque innovador y único a tu proyecto.</li>
          <li>Colaboración estrecha y atención personalizada en cada etapa del proyecto.</li>
          <li>Entrega puntual y resultados de alta calidad.</li>
          <li>Enfoque en la satisfacción del cliente y la superación de expectativas.</li>
        </ul>
        <p>Estoy comprometido en brindarte una experiencia de colaboración excepcional que te ayude a destacarte y alcanzar el éxito en tus proyectos.</p>
        <br>
        <p><b>Teléfono:</b> +52 811 00 555 99</p>
        <p><b>Horario:</b> L-V 09:00hrs - 17:00hrs</p>
    </div>
</div>
{% endblock %}